/* revert main-site's styles */

.btn-outline-secondary {
    color: #216583;
    border-color: #216583;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
    color: #fff;
    border-color: #216583;
    background-color: #216583;
    border: solid 1px #216583;
}

i.fas {
    font-size: 0.7em;
}

input,
input:focus,
textarea,
textarea:focus,
.form-control,
.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    height: auto;
    width: 100%;
}

input:placeholder,
textarea:placeholder {
    color: #a0a0a0;
}

.command-link {
    font-weight: 700;
    font-family: 'Abel', sans-serif;
    font-size: 1.1em;
}

.header-img {
    margin-top: 50px;
}

.header-img-edit {
    margin-top: 50px;
}

.header-img-edit img {
    max-height: 50px;
}

.content-after-header-img {
    margin-top: 0px;
}

.content-after-header-img-edit {
    margin-top: 0px;
}

.view-content {
    margin: 30px 0px;
}

.list-group-item {
    border: none;
    padding-left: 0;
}

.list-group-item:first-child {
    padding-top: 0;
}

.list-group-item:last-child {
    padding-bottom: 0;
}

.hover-commands {
    display: none;
}

.hover-trigger:hover .hover-commands,
.hover-trigger:active .hover-commands {
    display: inline;
}

@media (min-width: 768px) {
    body {
        background-image: none;
    }

    .header-img-edit {
        margin-top: 10px;
        margin-left: -60px;
        float: left;
    }

    .header-img-edit img {
        max-height: 30px;
    }

    .content-after-header-img-edit {
        margin-top: 50px;
    }
}
